<%= simple_form_for([:merchant, @ad]) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :content %>
    <%= f.input :weight %>
    <%= f.input :site_url %>
    <%= f.input :img_url %>
    <%= f.input :video_url %>
    <%#= f.association :merchant %>
  </div>

  <div class="panel panel-info">
    <div class="panel-heading">Κριτήρια για την εμφάνιση της ερώτησης</div>
    <div class="panel-body">
      <%= render :partial => '/shared/criteria' %>
    </div>
  </div>

  <div class="form-actions">
    <% if @ad.new_record? %>
      <%= link_to 'Επιστροφή', merchant_ads_path, :class => 'btn btn-warning' %>
      <button class='btn btn-primary'>Δημιουργία</button>
    <% else %>
      <%= link_to 'Επιστροφή', [:merchant, @ad], :class => 'btn btn-warning' %>
      <button class='btn btn-primary'>Αποθήκευση</button>
    <% end %>
  </div>
<% end %>
