<p id="notice"><%= notice %></p>

<h1>Listing Questions</h1>

<table>
  <thead>
    <tr>
      <th>Content</th>
      <th>Weight</th>
      <th>Admin</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @questions.each do |question| %>
      <tr>
        <td><%= question.content %></td>
        <td><%= question.weight %></td>
        <td><%= question.admin %></td>
        <td><%= link_to 'Show', [:admin, question] %></td>
        <td><%= link_to 'Edit', edit_admin_question_path(question) %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Question', new_admin_question_path %>
