

<br>

<div class="panel panel-default">
  <div class="panel-heading">Log in</div>
  <div class="panel-body">

    <%= simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
      <div class="form-inputs">
        <%= f.input :email, required: false, autofocus: true, input_html: { class: "input-lg" } %>
        <%= f.input :password, required: false, input_html: { class: "input-lg" } %><br>
        <%= f.input :remember_me, as: :boolean if devise_mapping.rememberable? %>
        <hr>
      </div>
      <div class="form-actions">
        <%= f.button :submit, "Log in", class: "btn btn-lg btn-danger" %>
      </div>
    <% end %>

  </div>
</div>

<%= render "devise/shared/links" %>
